/* /* containers*/

/* .container-fluid {
  background-color: whitesmoke;
  box-sizing: content-box;
  border: 1px solid blueviolet;
} */

body {
  margin-top: 30px;
}

/* columns */

.box {
  /* margin-top: 20px; */
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

/* Rows */

